<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<p class="h5">
				{{ _("Dear") }} {{ first_name }}{% if last_name %} {{ last_name }}{% endif %},
			</p>
			<p>
				{% if is_superuser %} {{ _("You have been assigned EnIMAX superuser for division")
				}} {{ division_name }} {% else %} {{ _("You have been assigned EnIMAX user for
				Division") }} {{ division_name }} {% endif %}
			</p>
			<p class="mt-3">{{_("Please see your login details")}}:</p>
			<div class="border p-3 mb-4 bg-light">
				<p class="mb-1"><strong>Email Id:</strong> {{ email }}</p>
				<p class="mb-1"><strong>Password:</strong> {{ password }}</p>
			</div>
			<p>
				Please login using the same credentials, or you can use the change password
				facility to set your own password.
			</p>
			<p class="mt-4">{{ _("Regards") }},<br />{{ sent_by }}</p>
		</div>
	</div>
</div>
